name: Build

on: push

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false

      - name: Use Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 24.x
          cache: 'npm'

      - run: npm ci

      - run: npm run lint

      - run: DISCORD_WEBHOOK_URLS=/a/b npm run cdk -- synth
